.main-container{
display: flex;
justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-group{
    display: flex;
    flex-direction: column;margin-bottom: 10px;
}